{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "es6": false
  },
  "globals": {
    "define": true
  },
  "rules": {
    "brace-style": ["off"]
  }
}
